.about{
    padding: $paddingSaction;
    background: rgba(113, 150, 84, 0.485);
    &__title{
        font-size: 50px;
        font-weight: 700;
        
    }
    &__content{
        // display: flex;
        padding: 30px 0;
        & img{
            width: 50%;
        }
        & p{
            font-size: $mainSize;
            line-height: 26px;
            margin-top: 10px;
        }
    }
    
}
